@import "../../styles/theme.scss";

.container_image_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  height: 8rem;

  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;

  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.image_input {
  display: flex;

  width: 6rem;
  height: 6rem;

  border: 2px dashed $accent-color;
  border-radius: 0.5rem;
}

.dragfull {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 6000;

  padding: 10px;

  background: rgba($color: $accent-color, $alpha: 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}
