@import "../../styles/theme.scss";

.container_image_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  height: 8rem;

  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;

  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.image_input {
  display: flex;

  width: 6rem;
  height: 6rem;

  border: 2px dashed $accent-color;
  border-radius: 0.5rem;
}
