@import "/src/styles/theme.scss";

.app_aspect_ratio_buttons_box {
  display: flex;
  align-items: center;
  justify-items: center;
  column-gap: 1rem;

  width: 100%;
  max-width: 500px;
  overflow-y: auto;

  padding-left: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.aspect_span {
  display: block;

  width: 2.5rem;
  height: 2.5rem;

  border: 1px solid $border-color;
  border-radius: 0.3rem;
}

.aspect_label {
  word-wrap: no-wrap;
}

.aspect_span_selected {
  border: 2px solid $accent-color;
}
