@import "/src/styles/theme.scss";

.app_aspect_ratio_buttons_box {
  display: flex;
  align-items: center;
  justify-items: center;
  column-gap: 1rem;

  width: 100%;
  max-width: 500px;
  overflow-y: auto;

  padding-left: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.app_aspect_ratio_buttom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.4rem;

  min-width: 2.5rem;
  height: 3rem;

  font-size: 0.7rem;
  font-weight: 700;
  color: $text-color;

  border: none;

  background: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  span {
    display: block;

    width: 2.5rem;
    height: 2.5rem;

    border: 1px solid $border-color;
    border-radius: 0.3rem;
  }

  label {
    word-wrap: no-wrap;
  }
}

.app_aspect_ratio_buttom_selected {
  span {
    border: 2px solid $accent-color;
  }
}
