@import "/src/styles/theme.scss";

.app_button_text {
  height: 2rem;

  font-size: 1rem;
  font-weight: 700;
  color: $text-color;

  border: none;

  background: transparent;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.primary_button {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 2.5rem;

  padding: 0 1rem;

  border: none;
  border-radius: 0.6rem;

  font-size: 1.1rem;
  font-weight: 700;
  color: $text-color;
  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;

  background: $accent-color;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    color: rgba($text-color, 0.5);
    cursor: not-allowed;
  }
}

.aspect_ratio_buttom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.4rem;

  min-width: 2.5rem;
  height: 3rem;

  font-size: 0.7rem;
  font-weight: 700;
  color: $text-color;

  border: none;

  background: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
