.app_aspect_ratio_buttons_box {
  display: flex;
  align-items: center;
  justify-items: center;
  column-gap: 1rem;

  width: 100%;
  max-width: 500px;
  overflow-y: auto;

  padding-left: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}