@import "/src/styles/theme.scss";

.app_image_out {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  img {
    width: 100%;
    max-height: 600px;
    border-radius: 1rem;
    object-fit: contain;
  }
}
