@import "/src/styles/theme.scss";

.app_editing_image {
  position: relative;
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    border-radius: 0.6rem;
    max-height: 70vh;
  }
}

.comands_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 1rem;

  width: 100%;

  border-radius: 0.9rem;
}
