@import "/src/styles/theme.scss";

.app_icon_button {
  width: 2rem;
  height: 2rem;

  font-size: 1rem;
  color: $text-color;

  border: none;

  background: transparent;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

}